# Development
-e ./src
python-dotenv

# Dash/Plotly
dash
plotly
dash-bootstrap-components
dash_daq

# Data Manipulation/Analysis
numpy
pandas
openpyxl
psycopg2
scipy
scikit-learn

# Web Server
flask
gunicorn

# database
s3fs